/***************

COMMON

***************/

body {
  font-family: "monospace", san-serif;
}

.font-primary {
  color: #00abae;
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

/*************

ABOUT

**************/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 100%;
  width: 130px;
  height: 120px;
  margin-bottom: 10px;
}
#about .name {
  font-size: 19px;
}

#about .vocation {
  font-size: 17px;
  color: #a8a8ab;
  margin-bottom: 10px;
}

#about .skills {
  font-size: 15px;
  color: #00abae;
  margin-bottom: 10px;
}

#about .email {
  margin-top: 14px;
  font-size: 14px;
}

p {
  text-align: center;
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

a.font-black {
  color: #000 !important;
}

#about .icon {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

#about .icon a {
  color: black;
}
/***************

PROJECT

****************/

#project {
  margin: 60px auto;
  width: 80%;
}

#project h2 {
  text-align: center;
}

.card img {
  width: 100%;
}

#project p {
  text-align: justify;
}

#project .card-title {
  font-weight: bold;
}
video {
  width: 100%;
  max-height: 322px;
  background-color: black;
}
